@charset "UTF-8";

/* CSS Document */

/* Fonts */
	@font-face {
		font-family: 'colonnaMT';
		src: url(../fonts/colonna.ttf);
	}
	
	@font-face {
		font-family: 'colonelRegular';
		src: url(../fonts/colonel.ttf);
	}

/* Global styles 
---------------------------------------------------------------------------------------------*/

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
	html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	
	margin: 0;	
	padding: 0;	
	border: 0;	
	font-size: 100%;	
	font: inherit;	
	vertical-align: baseline;}

/* html5 display rule */
	address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu,
	section, summary {
		display: block;
	}

/* micro-clearfix for modern browsers */
	.cf:before, cf:after {
		content: "";
		display: table;
	}

	.cf:after {
		clear: both;
	}

/* For IE 6/7 */
	.cf {
		zoom: 1;
	}

	.load {
		position: fixed;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 5;
	} 
		
	.load img {
		margin: auto;
  		position: absolute;
  		top: 0; left: 0; bottom: 0; right: 0;
   		}
		
	.video {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 20px;
		height: 0;
		margin-bottom: .5em;
		}
		
	.video iframe{
		position: absolute;
		margin: 0 auto;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}
		
	p{
		font-size: 1.3em;
		font-weight: regular;
		font-style: none;
		padding: 1em auto;
		}
	
	h3 {
		font-weight: bold;
		font-size: 1.3em;
	}
	
	#lpf {
	padding-left: 12px;
	padding-right: 12px;
	background-color: #000;
	color: #000;
	}

	a {
		text-decoration: none;
		color: #000;
	}
	
	article h1 a:link {
		color: #981e32;
	}
	article h1 a:hover {
		color: #0087be;
	}

	a:link {
		color: #000;
	}

	a:hover {
		color: #0087be;
	}

	a:focus {
		color: #981e32;
	}

	a img {
		border: none;
		outline: 0;
	}

	.promo a {
		display: block;
		height: 100%;
	}

	.promo a:hover {
		border: none;
	}

	a.phone {
		border: none;
		color: inherit;
	}

	a.phone:hover {
		border: none;
		color: inherit;
		cursor: default;
	}
	
	.photography {
	max-width: 97%;
	padding-left: 3%;
	padding-top: 4em;
	padding-bottom: 1em;
	}

	body {
		font: 100% 'colonelRegular', Helvetica, serif;
		letter-spacing: 2px;
		line-height: 1.5em;
		background: #fff;
		color: #000;
		font-weight: normal;
		font-style: normal;
	}

	#mainNav h2 {
		display: none;
	}

	nav ul {
		list-style: none;
	}

/* header styles */
	header {
		background: #fff;
		width: 100%;
		padding-top: 1px;
		overflow: hidden;
		margin-bottom: 1.5em;
	}

	header h1 {
		color: #fff;
		display: block;
		font-family: 'colonnaMT', Helvetica, serif;
		line-height: 1.5em;
		text-transform: uppercase;
	}

	header a {
		text-decoration: none;
		border: none;
		color: white;
	}

	header a:hover {
		border: none;
		color: #981e32;
	}

/*nav styles*/

	#mainNav {
		overflow: hidden;
		margin-left: 1.5em;
		margin-bottom: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
	}

	#mainNav li {
		float: left;
	}

	#mainNav a, #mainNav h3{
		text-transform: uppercase;
		display: block;
		color: #000;
		border: none;
	}

	#mainNav a.current {
		cursor: default;
	}

/* mission styles */

	.mission h1 {
		width: 90%;
		margin-left: 0.5em;
	}

/* article styles */

	article section {
		border-bottom: 2px solid #000;
		margin-bottom: 2em;
	}

	article h1 {
		font: 1.8em 'colonelRegular', Helvetica, serif;
		letter-spacing: 2px;
		color: #981e32;
		margin-bottom: .5em;
	}

	article h2 a {
		color: #000;
		border: none;
	}

	article h2 a:hover {
		display: block;
		border: none;
	}

	article p.pubdate {
	color: #981e32;
	}

	.promo a, .promo a:hover {
		display: block;
		border: none;
	}

	.intro p{
		font-size: 1em;
		margin: 0 0 1em;
	}

	.archives {
	padding-bottom: .5em;
	}

	aside section {
		clear: both;
		padding-bottom: 1em;
		text-align: center;
	}

	.inline {
		display: inline;
	}

	.notice {
	color: #fff;
	}

	.center {
		text-align: center;
		font-size: 2em;
		text-transform: uppercase;
		font-family: 'colonnaMT', Helvetica, serif;
	}

	.hero {
	color: #0087be;
	}

/* aside styles */

	aside h2 {
		font-family: 'colonelRegular', Helvetica, serif;
		letter-spacing: 2px;
		color: #0087be;
	}

/* footer styles */

	#pageFooter {
		padding-top: 1.1em;
	}
		
	#pageFooter a {
		display: block;
		height: 100px;
		line-height: 100px;
		border: none;
		color: #fff;
		background: url(../images/jasonlee/iconsmall75.png) no-repeat;
	}

	#latestprograms h1 a {
		display: block;
		position: relative;
		border: none;
		color: #000;
	}

	#latestprograms h1 a:hover{
		color: #981e32;
	}

/* opens mobile styles */ @media only screen and (max-width: 499px) {

	body {
		width: 100%;
		margin: 0 auto;
		max-width: 499px;
	}

/* header styles */

	header {
		height: 100px;
			background: url(../images/smoke_Small.jpg) no-repeat right 0px;
	}

	header h1 {
		font-size: 1.5em;
		font-family: 'colonnaMT', arial, sans-serif;
		padding-left: 96px;
		color: #fff;
		line-height: 100px;
		width: 190px;
		position: relative;
		top: 2px;
		left: 20px;
		background: url(../images/jasonlee/iconsmall75.png) no-repeat left center;
	}

	header h2 {
		display: none;
	}

/* nav styles */

	#mainNav {
		width: auto;
		margin: 0;
		margin-bottom: 1em;
		background: white;
		overflow: hidden;
	}

	#mainNav li {
		margin: 0;
		float: none;
		position: relative;
	}

	.topMenu {
		max-height: 0;
		visibility: hidden;
	}

	.topMenu.expand {
		max-height: 900em;
		visibility: visible;
	}
	
	.photography {
	max-width: 97%;
	padding-top: .5em;
	padding-bottom: 1em;
	}

	#mainNav a, #mainNav h3 {
		font-size: 1.2em;
		text-align: left;
		color: white;
		display: block;
		background: #000;
		padding-left: 1.2em;
		margin-bottom: 1px;
		line-height: 2.1em;
		text-transform: uppercase;
		cursor: pointer;
	}

	#mainNav a:hover {
		color: #981e32;
	}

	#mainNav a.current {
		color: #0087be;
	}

	#mainNav span.indicator {
		position: absolute;
		right: 1.2em;
	}

/* dropdown menu styles */

	#mainNav ul.submenu {
		float: none;
		width: auto;
		height: auto;
		max-height: 0;
		-moz-transition:max-height 0.5s ease;
		-webkit-transition:max-height 0.5s ease;
		-o-transition:max-height 0.5s ease;
		transition:max-height 0.5s ease;
		overflow: hidden;
	}

	#mainNav ul.submenu.expand {
		max-height: 20em;
	}

	#mainNav ul.submenu a:hover {
		color: #981e32;
	}
	
	#mainNav ul.submenu li a {
		padding: .2em 1em;
		white-space: nowrap;
		color: white;
		text-align: left;
		font-size: 1em;
		padding-left: 3em;
		background: #5E6A71;
	}

	#mainNav .menuToggle {
		display: block;
		background: #000;
		width: 8em;
		margin-bottom: .2em;
		position: relative;
	}

	#menuToggle a{
		text-align: center;
		padding: 0;
	}

/* mission styles */

	.mission {
		width: 90%;
		margin: 0 auto;
	}

	.mission h1 {
		font-weight: bold;
		color: #0087be;
		font-family: arial, Helvetica, serif;
		letter-spacing: 2px;
		font-size: 1em;
		text-align: left;
		line-height: 1.3em;
		margin-bottom: 0.5em;
	}

	.mission p {
		width: 93%;
		font-family: arial, Helvetica, serif;
		font-size: 1em;
		line-height: 1.3em;
		padding-left: 0.5em;
	}

/* article styles */

	article {
		width: 87%;
		margin: 0 auto;
		padding-top: 1em;
	}
	
	article p {
	font-family: arial, Helvetica, serif;
	}

	article section {
		margin: 0 auto;
		border-bottom: 2px solid #000;
		margin-bottom: 1.6em;
		overflow: hidden;
		position: relative;
		padding-bottom: 20px;
	}

	article h1 {
		background: url(../images/promo/resume.png) no-repeat right top;
		padding: 21px 0;
	}

	article h2 {
		font: 2em arial, helvetica, serif;
		padding-bottom: 0.4em;
	}

	.intro {
		margin-bottom: 2em;
	}

	.intro p{
		font-size: .8em;
		margin: 0 0 1em;
	}
	.caption {
		font-size: 1em;
		margin-top: 1em;
		letter-spacing: 2px;
	}

	.photos img {
		width: 90%;
		margin: 0 auto;
		display: block;
		margin-bottom: .8em;
	}

	.connect {
		margin-top: 2em;
	}

	article p.pubdate {
	font-size: 1.3em;
    margin-bottom: 1em;
    padding-left: 0.1em;
    text-transform: uppercase;
	}

	article .preview {
		height: 150px;
	}

	.managementInfo .preview {
		background: url(../images/ywca_Small.jpg) no-repeat;
	}

	.developmentInfo .preview {
		background: url(../images/webdev_Small.jpg) no-repeat;
	}

	.animationInfo .preview {
		background: url(../images/lit_Small.jpg) no-repeat;
	}
	
	.bioInfo .bio {
		width: 100%;
		height: 100%;
		clear: both;
	}
	
	.bioInfo .collab {
		width: 100%;
		height: 100%;
		clear: both;
	}
	
	.map {
		height: 100%;
		width: 100%;
		clear: both;
	}

/* aside section */

	aside {
		width: 90%;
		margin: 0 auto;
	}
	
	aside p {
	font-size: .9em;
	font-family: arial, Helvetica, serif;
	}

	aside section {
		clear: both;
	}

	aside h2 {
		font-size: 1.6em;
		margin: 1em 0 .8em;
		padding-top: .8em;
		border-top: 2px solid #000;
		text-align: center;
	}

	aside nav h2 {
		border: none;
		padding-top: 0;
	}

	aside nav {
		margin-bottom: 2em;
	}

	aside nav ul {
		display: none;
	}

	nav select {
		margin-left: 30%;
		width: 40%;
	}

	.promo img {
		display: block;
		margin: 0 auto .8em;
	}

/* footer styles */

	#pageFooter {
		clear: both;
		overflow: hidden;
		padding-bottom: 1em;
		background: url(../images/smoke_Small.jpg) no-repeat right 0px;
	}

	#pageHeader form {
		Display: none;
	}

	.notice {
		width: 61%;
		color: #fff;
		margin-left: 39%;
	}

	#pageFooter p {
		color: #000;
	}
	
	.gfm {
	display: none;
	}

} /* closes mobile styles */

/* opens tablet styles */ @media only screen and (min-width: 500px) and (max-width: 801px) {
	html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time,
	span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr{
		-webkit-text-size-adjust: none;
	}

	body {
		width: 100%;
		margin: 0 auto;
		max-width: 801px;
	}

/* header styles */

	header {
		height: 175px;
		margin-bottom: 1em;
		background: url(../images/smoke_Medium.jpg) no-repeat 90% 0px;
	}

	header h1 {
		font-family: 'colonnaMT', arial, sans-serif;
		font-size: 2.5em;
		padding-left: 175px;
		line-height: 165px;
		color: #fff;
		width: 270px;
		position: relative;
		top: 5px;
		left: 35px;
		background: url(../images/jasonlee/iconsmall148.png) no-repeat left center;
	}

	header h2 {
		display: none;
	}

/* nav styles */

	.topMenu {
		max-height: 0;
		visibility: visible;
	}

	.topMenu.expand {
		max-height: 900em;
		visibility: invisible;
	}
	
	.photography {
	max-width: 95%;
	padding-left: 5%;
	padding-top: 6em;
	padding-bottom: 1em;
	}

	#mainNav {
		width: 90%;
		font-size: 1.1em;
		letter-spacing: 2px;
		margin-bottom: 1em;
	}

	#mainNav a, #mainNav h3 {
		font-size: 1em;
		text-align: left;
		color: black;
		display: block;
		padding-left: 1.2em;
		margin-bottom: 0;
		line-height: 2em;
		text-transform: uppercase;
		cursor: pointer;
	}

	#mainNav a:hover {
		color: #981e32;
	}

	#mainNav a.current {
		color: rgb(237, 228, 214);
	}

	#mainNav span.indicator {
		position: absolute;
		right: 1.2em;
	}

	#mainNav ul.submenu {
		padding-top: 1em;
		max-height: 0;
		-moz-transition:max-height 0.2s ease;
		-webkit-transition: max-height 0.2s ease;
		-o-transition:max-height 0.2s ease;
		transition: max-height 0.2s ease;
		overflow: hidden;
		z-index: 1000;
		position: absolute;
	}

	#mainNav ul.submenu li {
		float: none;
		margin: 0;
		background: #5E6A71;
	}

	#mainNav li.hover:hover ul, #mainNav ul.submenu.expand {
		max-height: 20em;
	}

	#mainNav ul.submenu li a {
		border-bottom: 1px solid #fff;
		padding: .2em 1em;
		white-space: nowrap;
		color: #fff;
		text-align: left;
		font-size: 1.1em;
	}

	#mainNav ul.submenu li:last-child a {
		border-bottom: none;
	}

	#mainNav ul.submenu a:hover {
	color: #981e32;
	}

/* mission styles */

	.mission {
		padding-left: 3.9%;
		overflow: hidden;
		background: url(../images/wsuv.jpg) 50% no-repeat;
		position: relative;
		background-size: cover;
	}

	.mission h1 {
		font-size: 1.1em;
		letter-spacing: 2px;
		line-height: 1.3em;
		color: #fff;
		background: rgba(0, 0, 0, .7);
		font-family: arial, Helvetica, serif;
		letter-spacing: 2px;
		text-shadow: 2px 2px 2px #000;
	    padding-top: 29px;
	    padding-bottom: 29px;
	    padding-left: 16px;
	    margin-left: 6px;
	}

	.mission p {
	  width: 90%;
	  font-size: 1.1em;
	  letter-spacing: 2px;
	  line-height: 1.3em;
	  margin: 0 auto;
	  margin-top: 32px;
	  margin-left: -4%;
	  color: #fff;
	  background: rgba(0, 60, 105, .7);
	  text-shadow: 2px 2px 2px #000;
	  padding: 20px 7%;
	}

/* article styles */

	article {
		width: 88.2%;
		padding: 0 5.9%;
	}

	article section {
		  border-bottom: 2px solid #000;
		  margin-bottom: 0.5em;
		  overflow: hidden;
		  position: relative;
		  padding-bottom: 1em;
		  padding-top: 1em;
	}

	article h1 {
		background: url(../images/promo/resume.png) no-repeat right top;
		padding: 37px 0 20px;
		margin-top: 1em;
		}

	article h2 {
		font: 2.4em 'colonelRegular', Helvetica, serif;
		letter-spacing: 2px;
		float: left;
		clear: left;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		width: 52%;
	}

	article p {
		font-size: .9em;
		font-family: arial, Helvetica, serif;
		margin: 0;
		float: left;
		clear: left;
		width: 100%;
	}

	article p.pubdate {
		font-size: 1.3em;
		text-transform: uppercase;
		float: left;
		clear: left;
		margin: 0 0 1em;
		width: 40%;
	}
	
	.caption {
		font-size: 1em;
		font-family: arial, Helvetica, serif;
		width: 40%;
		clear: both;
		letter-spacing: 2px;
	}
	
	article h3.caption {
		font-size: 1em;
		width: 100%;
		clear: both;
		letter-spacing: 2px;
	}

	article .preview {
		height: 175px;
		position: absolute;
		top: 20px;
		right: 0;
		width: 50%;
	}

	.managementInfo .preview {
		background: url(../images/ywca_Small.jpg) no-repeat;
	}

	.developmentInfo .preview {
		background: url(../images/webdev_Small.jpg) no-repeat;
	}

	.animationInfo .preview {
		background: url(../images/lit_Small.jpg) no-repeat;
	}
	
	.bioInfo .bio {
		clear: both;
		height: 100%;
		padding-left: 0.2em;
		width: 90%;
	}
	
	.map {
		height: 100%;
		width: 100%;
		clear: both;
	}
	
	.bioInfo .collab {
		height: 100%;
		width: 100%;
		clear: both;
	}

/* aside styles */

	aside {
		width: 88%;
		padding: 0 6%;
	}

	aside section {
		clear: both;
	}

	aside section p{
		font-size: .9em;
		font-family: arial, Helvetica, serif;
		text-align: left;
		float: left;
		padding-bottom: 2em;
		margin-top: 113px;
		margin-left: -100px;
		padding-top: 1em;
	}
	
	aside section p.mm {
	margin-left: -200px;
	}

	aside h2 {
		font-size: 1.5em;
		margin: 1em 0 .8em;
		padding-top: .8em;
		border-top: 2px solid #000;
		text-align: left;
	}

	aside nav h2 {
		border: none;
		padding-top: 0;
		font-size: 1.5em;
		letter-spacing: 2px;
	}

	aside nav ul {
		display: none;
	}

	nav select {
		margin: 0 auto;
		width: 142px;
	}

	.promo img {
		display: block;
		margin: 0 auto .8em;
		float: left;
	}

/* footer styles */

	#pageFooter {
		clear: both;
		padding-top: 2em;
		overflow: hidden;
		height: 150px;
		background: url(../images/smoke_Medium.jpg) no-repeat 90% 0px;
	}

	#pageHeader form {
		display: none;
	}

	.notice {
		width: 55.5%;
		color: #fff;
		margin-left: 44.5%;
	}

	.center {
	color: #fff;
	font-size: 2em;
	}

	#pageFooter p {
	margin: 0 auto;
	}
	
	.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 20px;
	height: 0;
	margin-bottom: .5em;
	}
		
	.video iframe{
	position: absolute;
	margin: 0 auto;
	top: 126px;
	left: 0;
	width: 100%;
	height: 60%;
	}
	
	.gfm {
	display: none;
	}

} /* closes tablet styles */

/* opens desktop styles */ @media only screen and (min-width: 802px) {

	body {
		max-width: 1917px;
		margin: 0 auto;
	}

/* header styles */

	header {
		height: 220px;
		background: url(../images/smoke_Large.jpg) no-repeat 90% 0px;
	}

	header h1 {
		font-size: 3.5em;
		font-family: 'colonnaMT', arial, sans-serif;
		padding-left: 200px;
		color: #fff;
		line-height: 230px;
		float: left;
		margin-left: 45px;
		background: url(../images/jasonlee/iconsmall148.png) no-repeat left center;
	}

	header h2 {
		font-family: 'colonelRegular', Helvetica, serif;
		letter-spacing: 2px;
		font-style: italic;
		font-weight: normal;
		font-size: 1.4em;
		color: #000;
		float: left;
		text-transform: lowercase;
		letter-spacing: .1em;
		line-height: 165px;
	}
	
	#pageHeader form {
		width: 21%;
		float: right;
		padding-right: 2%;
		padding-top: 105px;
	}

	.topMenu {
		max-height: 0;
		visibility: visible;
	}

	.topMenu.expand {
		max-height: 900em;
		visibility: invisible;
	}

	#mainNav {
		width: 90%;
		font-size: 1em;
		padding-bottom: 0;
		margin-bottom: 1em;
	}

	#mainNav a, #mainNav h3 {
		font-size: 1.2em;
		text-align: left;
		color: black;
		display: block;
		padding-left: 1.2em;
		margin-bottom: 0;
		line-height: 2em;
		text-transform: uppercase;
		cursor: pointer;
	}

	#mainNav a:hover {
		color: #981e32;
	}

	#mainNav a.current {
		color: #0087be;
	}

	#mainNav span.indicator {
		position: absolute;
		right: 1.2em;
	}

	#mainNav ul.submenu {
		padding-top: 1em;
		max-height: 0;
		-moz-transition:max-height 0.2s ease;
		-webkit-transition: max-height 0.2s ease;
		-o-transition:max-height 0.2s ease;
		transition: max-height 0.2s ease;
		overflow: hidden;
		z-index: 1000;
		position: absolute;
	}

	#mainNav ul.submenu li {
		float: none;
		margin: 0;
		background: #5E6A71;
	}

	#mainNav li.hover:hover ul, #mainNav ul.submenu.expand {
		max-height: 20em;
	}

	#mainNav ul.submenu a:hover {
	color: #981e32;
	}

	#mainNav ul.submenu li a {
		border-bottom: 1px solid white;
		padding: .2em 1em;
		white-space: nowrap;
		color: #fff;
		text-align: left;
		font-size: 1.1em;
	}

	#mainNav ul.submenu li:last-child a {
		border-bottom: none;
	}

/* mission styles */

	.mission {
		height: 350px;
		padding-left: .5em;
		overflow: hidden;
		background: url(../images/wsuv.jpg) 50% no-repeat;
		margin-bottom: 1em;
		position: relative;
		background-size: cover;
	}

	.mission h1 {
		font-size: 1.3em;
		line-height: 1.3em;
		width: 67.8%;
		padding-left: 2%;
		float: left;
		font-family: arial, Helvetica, serif;
		letter-spacing: 2px;
		color: #fff;
		background: rgba(0, 0, 0, .5);
		text-shadow: 2px 2px 2px #000;
		padding-top: 29px;
		padding-bottom: 29px;
	}

	.mission p {
		width: 21%;
		padding: 2% 2% 0;
		height: 350px;
		font-size: 1.3em;
		font-family: arial, Helvetica, serif;
		color: #fff;
		background: rgba(0, 135, 190, .3);
		text-shadow: 2px 2px 2px #000;
		position: absolute;
		top: 0;
		right: 0;
	}

/* article styles */

	article {
		float: left;
		width: 70.1%;
		padding-left: 3.9%;
	}

	article section {
		border-bottom: 2px solid #000;
		margin-bottom: .5em;
	}

	article h1 {
		background: url(../images/promo/resume.png) no-repeat right top;
		padding: 20px 0 20px;
	}

	article h2 {
		font: 2.8em 'colonelRegular', Helvetica, serif;
		letter-spacing: 2px;
		float: left;
		margin-bottom: 0.2em;
	}
	
	article h3 {
	font-weight: bold;
	}

	article p {
		font-size: 1em;
		margin: .8em 0;
		font-weight: regular;
		font-family: arial, Helvetica, serif;
	}

	article p.pubdate {
		font-size: 1.2em;
		text-transform: uppercase;
		float: right;
		padding-top: .8em;
		padding-left: 3%;
		margin: 0;
	}

	article .preview {
		height: 250px;
		clear: both;
	}
	
	.caption {
		font-size: 1em;
		font-family: arial, Helvetica, serif;
		margin-top: 1em;
		margin-bottom: 1em;
		letter-spacing: 2px;
	}

	.managementInfo .preview {
		background: url(../images/ywca_Medium.jpg) no-repeat;
	}

	.developmentInfo .preview {
		background: url(../images/webdev_Medium.jpg) no-repeat;
	}

	.animationInfo .preview {
		background: url(../images/lit_Medium.jpg) no-repeat;
	}
	
	.bioInfo .bio {
		height: 100%;
		width: 100%;
		clear: both;
	}
	
	.map {
		height: 400px;
		width: 100%;
		clear: both;
		padding-bottom: 0.5em;
	}
	
	.bioInfo .collab {
		height: 100%;
		width: 100%;
		clear: both;
	}
	
/* aside styles */

	aside {
		float: right;
		width: 19.1%;
		padding-right: 3.9%;
	}

	aside section {
		clear: both;
	}

	aside section p{
		font-size: .8em;
		font-weight: bold;
		font-family: arial, Helvetica, serif;
		text-align: center;
		padding-bottom: .8em;
	}

	aside h2 {
		font-size: 1.3em;
		margin: 1em 0 .8em;
		padding-top: .8em;
		border-top: 2px solid #000;
		text-align: center;
	}

	aside nav h2 {
		border: none;
		padding-top: 0;
	}

	aside nav {
		font-size: 1.3em;
		text-align: center;
	}

	nav select {
		width: 80%;
		margin-left: 20%;
	}

	.promo img {
		display: block;
		margin: 0 auto .8em;
	}

/* footer styles */

	#pageFooter {
		clear: both;
		overflow: hidden;
		padding-bottom: 10px;
		color: #fff;
		background: url(../images/smoke_Large.jpg) no-repeat 90% 0px;
	}

	.notice {
		display: block;
		width: 75px;
		margin: 0 auto;
	}

	#pageFooter p {
		margin: 0 auto;
	}
	
	.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 20px;
	height: 0;
	margin-bottom: .5em;
	}
		
	.video iframe{
	position: absolute;
	margin: 0 auto;
	top: 70px;
	left: 0;
	width: 100%;
	height: 85%;
	}

} /* closes desktop styles */